<%= form_with(model: member, local: true) do |form| %>
  <%= form.hidden_field :member_type %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-container">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="input-container">
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
  </div>

  <div class="textarea-container">
    <label for="member[details]">
        <% if member.member_type == 'candidate' %>
            Tell us something about yourself<p>(Think about personal projects, hobbies, things you're proud of)</p>
        <% else %>
            Tell us something about your company<p>(Projects, company culture, foosball tables)</p>
        <% end %>
    </label>
    <%= form.text_area :details %>
  </div>

  <div class="gdpr">
      <%= form.check_box :gdpr, required: true %>
      <label for="member_gdpr">I accept that my information can be used for marketing purposes.</label>
  </div>

  <div class="submit"><button type="submit">Submit</button></div>
<% end %>
